// TEXT
.u-center { text-align: center; }

// DISPLAY
.u-inline-block { display: inline-block; }
.u-flex { display: flex; }
.u-justify-content-between { justify-content: space-between; }
.u-justify-content-center { justify-content: center; }
.u-justify-content-end { justify-content: flex-end; }
.u-align-center { align-items: center; }

// A11TY
.u-visually-hidden {
    display: block;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
    white-space: nowrap;
    position: absolute;
}

// BACKGROUND
.u-cover { 
    height: 100%;
    background-size: cover;
    background-position: 50%;
}