{% if site.coverSubtitle %}
    {% set subtitle = site.coverSubtitle %}
{% endif %}

{% if site.coverBackground %}
    {% set coverBg %}background-image: url( "{{ site.coverBackground }}" ); {% endset %}
{% endif %}

{% if site.coverBackgroundColor %}
    {% set coverBgColor %}background: {{ site.coverBackgroundColor }} cover; {% endset %}
{% endif %}

<div class="cover u-cover" style="{{ coverBgColor }} {{ coverBg }}">
  <div class="stack">
    <h1>{{ site.coverTitle }}</h1>
    <p>{{ subtitle }}</p>
  </div>
</div>
