<div class="cover u-cover" style="background-color: '{{site.coverBackgroundColor}}'; background-image: url('{{site.coverBackground}}');">
  <div class="stack">
    <h1>{{ site.coverTitle }}</h1>
    <p>{{ site.coverSubtitle }}</p>
  </div>
</div>
