{% if site.navItems %}
<nav aria-label="main-navigation">
    <ul role="menubar" class="u-flex u-align-center">
        {% for item in site.navItems %}
            {% if item.external %}
                {% set target = 'target="_blank"' %}
            {% endif %}  
            <li role="menuitem" class="u-inline-block">
                <a href="{{item.url}}" {{target}}>{{item.name}}</a>
            </li>
        {% endfor %}
            <li role="menuitem" class="switch u-inline-block">
                <div class="user-toggle">
                    <div role="status" class="u-visually-hidden js-mode-status"></div>
                    <button class="toggle-button js-mode-toggle">
                        <span class="toggle-button__text js-mode-toggle-text">Dark mode</span>
                    </button>
                </div>
            </li>
    </ul>
</nav>
{% endif %}