{% if site.navItems %}
<nav aria-label="main-navigation">
    <ul role="menubar" class="u-flex u-align-center u-justify-content-between u-flex-wrap">
        {% for item in site.navItems %}
            <li role="menuitem" class="u-inline-block">
                <a href="{{item.url}}">{{item.name}}</a>
            </li>
        {% endfor %}
            <li role="menuitem" class="switch u-inline-block">
                <div class="user-toggle">
                    <div role="status" class="u-visually-hidden js-mode-status"></div>
                    <button class="toggle-button js-mode-toggle">
                        <span class="toggle-button__text js-mode-toggle-text">Dark mode</span>
                    </button>
                </div>
            </li>
    </ul>
</nav>
{% endif %}