<div class="card s-marg-b-small">
    {% if site.postWithImage %}
        {% if item.data.image %}
            <div class="card__image frame">
                <img src="../images/posts/{{ item.data.image }}" alt="" aria-hidden="true">
            </div>
        {% else %}
            <div class="card__image frame">
                <img src="../images/posts/default.png" alt="">
            </div>
        {% endif %}
    {% endif %}
    <div class="card__body">
        <date>{{ item.date | dateDisplay }}</date>
        {% if item.data.externalurl %}
            <h3><a href="{{ item.data.externalurl }}">{{ item.data.title }}</a></h3>
        {% else %}
            <h3><a href="{{ item.url }}">{{ item.data.title }}</a></h3>
        {% endif %}
        {% if item.data.desc %}
            <div class="desc">{{ item.data.desc }}</div>
        {% endif %}
    </div>
</div>