@import 'tokens';

$minimaly-sizes: map-get($tokens, 'sizes');
$minimaly-colors: map-get($tokens, 'colors');
$minimaly-breakpoints: map-get($tokens, 'breakpoints');
$minimaly-fonts: map-get($tokens, 'fonts');