@import 'tokens';

$minimaly-size-scale: map-get($tokens, 'size-scale');
$minimaly-colors: map-get($tokens, 'colors');
$minimaly-spaces: map-get($tokens, 'spaces');
$minimaly-breakpoints: map-get($tokens, 'breakpoints');
$minimaly-weights: map-get($tokens, 'weights');