$tokens: (
  size-scale: (
    300: 0.8rem,
    500: 1.125rem,
    600: 1.56rem,
    700: 1.95rem,
    800: 2.44rem,
    900: 3.05rem,
    base: 1rem,
    max: 4rem
  ),
  colors: (
    dark: #000000,
    light: #ffffff,
    grey: #a4a2a2
  ),
  weights: (
    thin: 100,
    extra-light: 200,
    light: 300,
    regular: 400,
    medium: 500,
    semi-bold: 600,
    bold: 700,
    extra-bold: 800,
    black: 900
  ),
  spaces: (
    min: 0.3rem,
    base: 1rem,
    small: 2rem,
    medium: 4rem,
    large: 6rem,
    max: 8rem
  ),
  breakpoints: (
    sm: 20em,
    md: 40em,
    lg: 64em
  ),
  fonts: (
    base: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'",
    serif: "'Lora', serif"
  )
);
