$tokens: (
  sizes: (
    300: 0.8rem,
    500: 1.25rem,
    600: 1.56rem,
    700: 1.95rem,
    800: 2.44rem,
    900: 3.05rem,
    min: 0.5rem,
    base: 1rem,
    max: 4rem
  ),
  colors: (
    dark: #000000,
    light: #ffffff,
    grey: #5d5959,
    hightlight: #FF0000
  ),
  breakpoints: (
    sm: 20rem,
    md: 40rem,
    lg: 50rem,
    xl: 70rem
  ),
  fonts: (
    base: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'",
    serif: "'Lora', serif"
  )
);
