.footer {
    background-color: var(--background);
    border-top: 2px solid var(--button-background);

    .switch {
        display: none;
    }

    nav {
        ul {
            @media screen and (max-width: 40em) {
                justify-content: space-between;
                flex-wrap: wrap;
            }

            li {
                 margin-left: var(--sizes-min);
                 margin-right: var(--sizes-min);
                 margin-top: var(--sizes-base);

                @media screen and (min-width: 40em) {
                    margin-left: var(--sizes-small);
                }
            }
        }
    }
}