.footer {
    background-color: var(--background);
    border-top: 2px solid var(--button-background);

    .switch {
        display: none;
    }

    @media screen and (max-width: 40em) {
        .inner-wrapper {
            flex-direction: column;
        }        
    }
}