.single-post,
.blog {
    .header {
        border-bottom: 2px solid var(--text-color);
    }
}

.header {
    padding-top: var(--sizes-base);
    padding-bottom: var(--sizes-base);

    @media screen and (max-width: 40em) {
        .inner-wrapper {
            flex-direction: column;
        }        
    }
}
