.logo {
    width: 55px;
    height: 55px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    background-color: var(--bg-color);
    color: var(--font-color);
    filter: invert(100%);
}
