nav {
    width: 100%;

    @media screen and #{$md-breakpoint} {
        width: auto;
    }

    ul {
        li {
            @media screen and #{$md-breakpoint} {
                margin-left: var(--sizes-base);
                margin-right: 0;
            }
        }
    }
}