nav {
    @media screen and (max-width: 40em) {
        width: 100%;
    }

    ul {
        @media screen and (max-width: 40em) {
            justify-content: space-between;
            flex-wrap: wrap;
        }

        li {
            margin-top: var(--sizes-base);

            @media screen and (min-width: 40em) {
                margin-left: var(--sizes-base);
                margin-right: 0;
            }
        }
    }
}