.postsList {
    &__title {
        font-size: var(--sizes-600);
        font-weight: 800;
    }
}

.post {
    .date {
        color: var(--colors-grey);
    }

    h1 {
        font-size: var(--sizes-700);
    }

    h2 {
        margin-top: var(--sizes-700);
        margin-bottom: var(--sizes-min);
    }

    p {
        margin-bottom: var(--sizes-base);
    }
}