<!DOCTYPE html> 
<html lang="en" class="no-js"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="{{ site.shortDesc }}"/>
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />
  <link rel="icon" href="{{ site.faviconPath }}" type="image/png" />
  {% include "partials/metas.njk" %}
  <script>document.documentElement.classList.remove('no-js');</script>
  <style>{% include "css/main.min.css" %}</style>
</head> 
<body class="{{ pageClass }}"> 
  {% include "partials/header.njk" %}
  <main id="main-content">{{ content | safe }}</main>
  {% include "partials/footer.njk" %}
  <script src="http://192.168.1.74:8080/js/main.min.js"></script>
</body> 
</html>
