---
layout: layouts/base.njk 
pageClass: "single-post"
---

{% block content %}
    <article class="post inner-wrapper inner-wrapper--small s-pad-t-base s-pad-b-base">
        <header class="s-pad-b-500">
            <h1>{{ title }}</h1>
            <date class="date">{{ date | dateDisplay }}</date>
        </header>
        {{ content | safe }}
    </article>
{% endblock %}