.cover {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding: var(--s2);
  color: var(--colors-light);
}

.cover > * {
  margin-top: var(--s0);
  margin-bottom: var(--s0);
}

.cover > div {
  margin-top: auto;
  margin-bottom: auto;
}