.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 1rem;
}

.grid > * {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

.grid > * + * {
  margin-top: 1rem;
}

@supports (display: grid) {
  .grid > * {
    max-width: unset;
    margin: 0;
  }
}