.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 100%;
}

.grid.aboveMin {
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

// @supports (width: min(20rem, 100%)) {
//   .grid {
//     grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
//   }
// }