.stack {
  --space: 1.5rem;
  display: flex;
  flex-direction: column;

  &.left {
    align-items: flex-start;
    text-align: left;
  }
  
  &.center {
    align-items: center;
    text-align: center;
  }

  &.right {
    align-items: flex-end;
    text-align: right;
  }
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
} 

.stack > * + * {
  margin-top: var(--space);
}