.no-js .user-toggle {
  display: none;
}

.user-toggle {
  max-width: 20rem;
  text-align: center;
}

.toggle-button {
  display: inline-flex;
  background: var(--button-background);
  color: var(--button-color);
  border: none;
  border-radius: 3px;
  font: inherit;
  font-size: var(--size-min);
  padding: 0.5rem 1rem;
  transition: background 500ms ease-in-out, color 200ms ease;

  &:focus {
    outline: 1px solid var(--button-background);
    outline-offset: 0.5rem;
  }
}