---
title: Blog
description: All posts
layout: layouts/base.njk
pageName: Blog
pageClass: blog
---
<div class="s-marg-t-600 s-marg-b-600"> 
    <div class="inner-wrapper">
        <h2 class="s-marg-b-600">Tous les articles :</h2>
        {% if site.showAsGrid %}
            <div class="grid">
        {% else %}
            <div class="list">
        {% endif %}
                {%- for item in collections.posts -%}
                    {% include 'partials/components/post-list.njk' %}
                {%- endfor -%}
            </div>
    </div>
</div>