---
title: Blog
description: All posts
layout: layouts/base.njk
pageName: Blog
pageClass: blog
---
<div class="postsList s-marg-t-small">
    <div class="wrapper">
        <h2 class="postsList__title s-marg-b-small">Tous les articles :</h2>
        {%- for item in collections.posts -%}
            {% set loopIndex = loop.index0 %}
            {% set loopNumber = loop.index %}
            {% include 'partials/components/post-list.njk' %}
        {%- endfor -%}
    </div>
</div>