---
title: Homepage
description: Homepage
layout: layouts/base.njk
pageName: Homepage
pageClass: homepage
---
{% if site.coverTitle %}
    {% include "partials/components/cover.njk" %}
{% endif %}

<div class="s-marg-t-600 s-marg-b-600">
    <div class="inner-wrapper">
        <h2 class="s-marg-b-600">Derniers articles :</h2>
        {% if site.showAsGrid %}
            <div class="grid">
        {% else %}
            <div class="list">
        {% endif %}
            {%- for item in collections.lastPosts -%}
                {% include 'partials/components/post-list.njk' %}
            {%- endfor -%}
        {% if site.showAsGrid %}
            </div>
        {% endif %}
        <div class="u-flex u-justify-content-end">
            <a href="/blog/" class="s-marg-t-600">Show all posts -></a>
        </div>
    </div>
</div>