<footer class="footer s-pad-t-base s-pad-b-base">
    <div class="wrapper u-flex u-justify-space-between">
        <a href="/" class="logo u-flex u-justify-space-center u-align-center">
            m
        </a>
        {% include "partials/components/nav.njk" %}
    </div>
</footer>