<footer class="footer s-pad-t-base s-pad-b-base">
    <div class="inner-wrapper u-flex u-justify-content-between">
        <a href="/" class="logo u-flex u-justify-content-center u-align-center">
            {% if site.logoPath %}
                {% include site.logoPath %}
            {% else %}
                Minimaly
            {% endif %}
        </a>
        {% include "partials/components/nav.njk" %}
    </div>
</footer>