<header class="header" role="banner">
    <a href="#main-content" class="u-visually-hidden">Skip to the main content</a>
    <div class="inner-wrapper u-flex u-justify-content-between u-align-center">
        <span class="u-visually-hidden">{{site.title}} : {{pageName}}</span>
        <a href="/" class="logo u-flex u-justify-content-center u-align-center s-pad-t-base s-pad-b-base">
            {% if site.logoPath %}
                {% include site.logoPath %}
            {% else %}
                Minimaly
            {% endif %}
            <span class="u-visually-hidden">{{ 'Back to homepage' if page.url != '/' else 'Homepage' }}</span>
        </a>
        {% include "partials/components/nav.njk" %}
    </div>
</header>